<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .containers {
            background: linear-gradient(rgb(117, 34, 159), rgb(222, 222, 53), rgb(137, 137, 206), rgb(78, 26, 133));
            color: white;
            text-align: center;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 90vh;
            padding-top: 290px;
        }

        h1 {

            color: rgb(148, 23, 23) !important;
            font-size: 50px;
            font-weight: bold;
        }
    </style>
</head>

<body>
    {{!-- {{>navbar} ise use karke navbar lag jata ha jo partals folder me navbar.hbs file ha use propertied se ho rahi
    ha --}}
    {{>navbar}}
    <div class="containers">
        <h1 class="head">Hello,{{userData.name}} Password reset link send your Email please Check your inbox ! </h1>
    </div>
</body>

</html>